<h3>Add a Member to SocialConstruct</h3>
<%= simple_form_for @member, url: :members, method: :post do |f| %>
  <%= f.input :email %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :role, as: :hidden, input_html: { value: "blogger" } %>
<!-- migration probably needed to generate token for invitations -->
  <%= f.submit %>
<% end %>
